##YELP NLP

#1.Import Data and Libraries

In [9]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [10]:
import pickle


with open('/content/drive/MyDrive/NLPDATA/review.pkl', 'rb') as f:
    df_review = pickle.load(f)

In [11]:
df_review.head()

,_id,review_id,user_id,business_id,stars,useful,funny,cool,text,date,year
0,6223b58f834741d5ed3947bd,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,2018
1,6223b58f834741d5ed3947be,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18,2012
2,6223b58f834741d5ed3947bf,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30,2014
3,6223b58f834741d5ed3947c0,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03,2015
4,6223b58f834741d5ed3947c1,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15,2017

In [12]:
with open('/content/drive/MyDrive/NLPDATA/business.pkl', 'rb') as a:
    df_business = pickle.load(a)

In [13]:
df_business.head()

,_id,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,6223b3b7834741d5ed36fc4f,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,6223b3b7834741d5ed36fc50,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,6223b3b7834741d5ed36fc51,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,6223b3b7834741d5ed36fc52,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,6223b3b7834741d5ed36fc53,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

##2.DATA PREPROCESSING

In [14]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [15]:
df_review_new = df_review[['stars','text']]
df_review_new

        stars                                               text
0           3  If you decide to eat here, just be aware it is...
1           5  I've taken a lot of spin classes over the year...
2           3  Family diner. Had the buffet. Eclectic assortm...
3           5  Wow!  Yummy, different,  delicious.   Our favo...
4           4  Cute interior and owner (?) gave us tour of up...
...       ...                                                ...
548994      3  Great apartments for the price/location. Walki...
548995      5  Great coffee, and baked goods. This Coffee Roo...
548996      4  Evening Dinner and Jazz Cruise\n\nYou need to ...
548997      4  As a former Tucsonan, this was always on of my...
548998      4  This was a great deal.  Saturday before the 50...

[548999 rows x 2 columns]

In [16]:
#Function to remove Punctuation
def remove_punct(text):
    text_nopunct = "".join([char for char in text if char not in string.punctuation])# It will discard all punctuations
    return text_nopunct

df_review_new['text_clean'] = df_review_new['text'].apply(lambda x: remove_punct(x))

df_review_new.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,stars,text,text_clean
0,3,"If you decide to eat here, just be aware it is...",If you decide to eat here just be aware it is ...
1,5,I've taken a lot of spin classes over the year...,Ive taken a lot of spin classes over the years...
2,3,Family diner. Had the buffet. Eclectic assortm...,Family diner Had the buffet Eclectic assortmen...
3,5,"Wow! Yummy, different, delicious. Our favo...",Wow Yummy different delicious Our favorite...
4,4,Cute interior and owner (?) gave us tour of up...,Cute interior and owner gave us tour of upcom...

#Remove Numbers

In [17]:
def clean_text(text):
    # remove numbers
    text_nonum = re.sub(r'\d+', '', text)
    return text_nonum

df_review_new['nonum'] = df_review_new['text_clean'].apply(lambda x: clean_text(x))

df_review_new.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,stars,text,text_clean,nonum
0,3,"If you decide to eat here, just be aware it is...",If you decide to eat here just be aware it is ...,If you decide to eat here just be aware it is ...
1,5,I've taken a lot of spin classes over the year...,Ive taken a lot of spin classes over the years...,Ive taken a lot of spin classes over the years...
2,3,Family diner. Had the buffet. Eclectic assortm...,Family diner Had the buffet Eclectic assortmen...,Family diner Had the buffet Eclectic assortmen...
3,5,"Wow! Yummy, different, delicious. Our favo...",Wow Yummy different delicious Our favorite...,Wow Yummy different delicious Our favorite...
4,4,Cute interior and owner (?) gave us tour of up...,Cute interior and owner gave us tour of upcom...,Cute interior and owner gave us tour of upcom...

#Tokenization

In [19]:
import re

# Function to Tokenize words
def tokenize(text):
    tokens = re.split('\W+', text) #W+ means that either a word character (A-Za-z0-9_) or a dash (-) can go there.
    return tokens

df_review_new['text_tokenized'] = df_review_new['nonum'].apply(lambda x: tokenize(x.lower())) 
#We convert to lower as Python is case-sensitive. 

df_review_new.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,stars,text,text_clean,nonum,text_tokenized
0,3,"If you decide to eat here, just be aware it is...",If you decide to eat here just be aware it is ...,If you decide to eat here just be aware it is ...,"[if, you, decide, to, eat, here, just, be, awa..."
1,5,I've taken a lot of spin classes over the year...,Ive taken a lot of spin classes over the years...,Ive taken a lot of spin classes over the years...,"[ive, taken, a, lot, of, spin, classes, over, ..."
2,3,Family diner. Had the buffet. Eclectic assortm...,Family diner Had the buffet Eclectic assortmen...,Family diner Had the buffet Eclectic assortmen...,"[family, diner, had, the, buffet, eclectic, as..."
3,5,"Wow! Yummy, different, delicious. Our favo...",Wow Yummy different delicious Our favorite...,Wow Yummy different delicious Our favorite...,"[wow, yummy, different, delicious, our, favori..."
4,4,Cute interior and owner (?) gave us tour of up...,Cute interior and owner gave us tour of upcom...,Cute interior and owner gave us tour of upcom...,"[cute, interior, and, owner, gave, us, tour, o..."

#Remove Stop Words

In [20]:
 import nltk 
 nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [21]:
from nltk.corpus import stopwords

stopword = stopwords.words('english')# All English Stopwords

In [22]:
# Function to remove Stopwords
def remove_stopwords(tokenized_list):
    text = [word for word in tokenized_list if word not in stopword]# To remove all stopwords
    return text

df_review_new['text_nonstop'] = df_review_new['text_tokenized'].apply(lambda x: remove_stopwords(x))

df_review_new.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,stars,text,text_clean,nonum,text_tokenized,text_nonstop
0,3,"If you decide to eat here, just be aware it is...",If you decide to eat here just be aware it is ...,If you decide to eat here just be aware it is ...,"[if, you, decide, to, eat, here, just, be, awa...","[decide, eat, aware, going, take, hours, begin..."
1,5,I've taken a lot of spin classes over the year...,Ive taken a lot of spin classes over the years...,Ive taken a lot of spin classes over the years...,"[ive, taken, a, lot, of, spin, classes, over, ...","[ive, taken, lot, spin, classes, years, nothin..."
2,3,Family diner. Had the buffet. Eclectic assortm...,Family diner Had the buffet Eclectic assortmen...,Family diner Had the buffet Eclectic assortmen...,"[family, diner, had, the, buffet, eclectic, as...","[family, diner, buffet, eclectic, assortment, ..."
3,5,"Wow! Yummy, different, delicious. Our favo...",Wow Yummy different delicious Our favorite...,Wow Yummy different delicious Our favorite...,"[wow, yummy, different, delicious, our, favori...","[wow, yummy, different, delicious, favorite, l..."
4,4,Cute interior and owner (?) gave us tour of up...,Cute interior and owner gave us tour of upcom...,Cute interior and owner gave us tour of upcom...,"[cute, interior, and, owner, gave, us, tour, o...","[cute, interior, owner, gave, us, tour, upcomi..."

#Stemming

In [24]:
from nltk.stem.lancaster import LancasterStemmer

stemmer = LancasterStemmer()

def stemming(tokenized_text):
    text = [stemmer.stem(word) for word in tokenized_text]
    return text

df_review_new['text_stemmed'] = df_review_new['text_nonstop'].apply(lambda x: stemming(x))

df_review_new.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,stars,text,text_clean,nonum,text_tokenized,text_nonstop,text_stemmed
0,3,"If you decide to eat here, just be aware it is...",If you decide to eat here just be aware it is ...,If you decide to eat here just be aware it is ...,"[if, you, decide, to, eat, here, just, be, awa...","[decide, eat, aware, going, take, hours, begin...","[decid, eat, aw, going, tak, hour, begin, end,..."
1,5,I've taken a lot of spin classes over the year...,Ive taken a lot of spin classes over the years...,Ive taken a lot of spin classes over the years...,"[ive, taken, a, lot, of, spin, classes, over, ...","[ive, taken, lot, spin, classes, years, nothin...","[iv, tak, lot, spin, class, year, noth, comp, ..."
2,3,Family diner. Had the buffet. Eclectic assortm...,Family diner Had the buffet Eclectic assortmen...,Family diner Had the buffet Eclectic assortmen...,"[family, diner, had, the, buffet, eclectic, as...","[family, diner, buffet, eclectic, assortment, ...","[famy, din, buffet, eclect, assort, larg, chic..."
3,5,"Wow! Yummy, different, delicious. Our favo...",Wow Yummy different delicious Our favorite...,Wow Yummy different delicious Our favorite...,"[wow, yummy, different, delicious, our, favori...","[wow, yummy, different, delicious, favorite, l...","[wow, yummy, diff, delicy, favorit, lamb, curr..."
4,4,Cute interior and owner (?) gave us tour of up...,Cute interior and owner gave us tour of upcom...,Cute interior and owner gave us tour of upcom...,"[cute, interior, and, owner, gave, us, tour, o...","[cute, interior, owner, gave, us, tour, upcomi...","[cut, intery, own, gav, us, tour, upcom, patio..."

Saving the last version of the data

In [25]:
df_review_new.to_pickle('df_review_processed.pkl')